
{% extends 'layout.html' %}
{% block main %}
<script>
    const socket = io('{{ socket_server }}', {transports:['websocket']}); 



    socket.on('connect', () => {
            socket.emit('login',{login: window.localStorage.getItem('login')});
            
        });

    socket.on('ping', msg => {
        draw_users(msg.state);
        draw_board(msg.state);
        draw_hand(msg.state);
        draw_start_button(msg.state);
        draw_help_message(msg.state);
    })


    var draw_users = function (state) {
        var players_div = $('#players');
            players_div.empty();
            state.users.forEach(function(el){
                if(el.state === 'gessor'){
                    var status = 'online';
                } else {
                    var status = 'offline';
                }
                let tpl = `<div class="media align-items-center mb-4">
                           <div class="iq-profile-avatar status-${status}">
                              <img class="rounded-circle avatar-50" src="${el.image}" alt="">
                           </div>
                           <div class="media-body ml-3">
                              <h6 class="mb-0"><a href="#">${el.state}</a></h6>
                              <p class="mb-0">${el.login}</p>
                           </div>
                        </div>`
                players_div.append(tpl);
            });        
    }


    var draw_board = function(state) {
            var board_div = $('#board');
            board_div.empty();
            state.table.forEach(function(el){
                board_div.append(`<img data-card-id="${el.id}" id="${el.id}-board-card" src="${el.image}">`);

                $(`#${el.id}-board-card`).on('click', function(el) {
                    var obj = $(el.target);
                    var myJSObject = {
                        login: window.localStorage.getItem('login'),
                        card_id: obj.attr('data-card-id')
                    };
                    $.ajax('/propose', {
                        data : JSON.stringify(myJSObject),
                        contentType : 'application/json',
                        type : 'POST',
                        success: function(data) {
                            console.log(data);
                        }
                    });
                });
                
            });
        };

        var draw_hand = function(state) {
            var hand_div = $('#hand');
            hand_div.empty();
            var user_login = window.localStorage.getItem('login');
            state.users.forEach(function(el){
                if(el.login === user_login) {
                    el.cards.forEach(function(card){
                        hand_div.append(`<img src="${card.image}">`);
                    })
                }
                
            });
            var hand_small_div = $('#hand_small');
            hand_small_div.empty();
            state.users.forEach(function(el){
                if(el.login === user_login) {
                    el.cards.forEach(function(card){
                        hand_small_div.append(`<img data-card-id="${card.id}" id="${card.id}-hand-card-small" height="60" src="${card.image}">`);
                        $(`#${card.id}-hand-card-small`).on('click', function(el) {
                            var obj = $(el.target);

                            var myJSObject = {
                                login: window.localStorage.getItem('login'),
                                card_id: obj.attr('data-card-id')
                            };
                            var user = get_current_user(state.users);
                            if(user.state === 'gessor') {
                                $.ajax('/gessing', {
                                    data : JSON.stringify(myJSObject),
                                    contentType : 'application/json',
                                    type : 'POST',
                                    success: function(data) {
                                        console.log(data);
                                    }
                                });
                            }
                            if(user.state === 'betor') {
                                $.ajax('/betting', {
                                    data : JSON.stringify(myJSObject),
                                    contentType : 'application/json',
                                    type : 'POST',
                                    success: function(data) {
                                        console.log(data);
                                    }
                                });                                
                            }
                        });
                    })
                }
                
            });
        }


        var draw_start_button = function(state) {
            var is_show = true;
            var hand_div = $('#start_button');
            state.users.forEach(function(el){
                if(el.state === 'gessor' || el.state === 'gessed') {
                    is_show = false;
                }
            });
            if(is_show === true) {
                
                hand_div.show();
                $('#start_button').on('click',function() {
                    $.ajax('/start', {
                                data : JSON.stringify({
                                    login: window.localStorage.getItem('login')
                                    }),
                                contentType : 'application/json',
                                type : 'POST',
                                success: function(data) {
                                    console.log(data);
                                }
                            });                    
                })
            }  else {
                hand_div.hide();
            }
        }

        get_current_user = function(users){
            for(var i=0; i<=users.length-1; i++) {
                if (users[i].login === window.localStorage.getItem('login')) 
                {
                    return users[i];
                }
            }
        }

        var draw_help_message = function(state) {
            var block = $('#help_message');
            var user = get_current_user(state.users);
            if(user.state === 'gessor') {
                var message = 'Загадывайте ассоциацию и выбирайте картинку!';
               
            } else if(user.state === 'gessed') {
                var message = 'Подождите пока все игроки попытаются угадать.';
               
            } else if(user.state === 'betor') {
                var message = 'Подождите пока загадают ассоциацию и выберете под нее картинку.';
               
            } else if(user.state === 'beted') {
                var message = 'Подождите пока все игроки выложат по картинке.';
               
            } else if(user.state === 'proposer') {
                var message = 'Пробуйте угадать правильную картинку.';
               
            } else if(user.state === 'proposeed') {
                var message = 'Ожидайте пока все не сделают ставки.';
               
            }
            else {
                var message = 'Сообщения нет!';
            }
            block.empty();
            block.html(message);
            
        }


</script>  
{% endblock %}
