<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Imaginarium</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/static/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <link rel="stylesheet" href="/static/css/custom.css">
   </head>
   <body class="sidebar-main-active right-column-fixed">

      <!-- Wrapper Start -->
      <div class="wrapper">


         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-body chat-page p-0">
                           <div class="chat-data-block">
                              <div class="row">

                                 <div class="col-lg-12 chat-data p-0 chat-data-right">
                                    <div class="tab-content">


                                       <div class="tab-pane fade active show" id="chatbox5" role="tabpanel">
                                          <div class="chat-head">
                                             <header class="d-flex justify-content-between align-items-center bg-white pt-3 pl-3 pr-3 pb-3">
                                                <div class="d-flex align-items-center">
                                                   <div class="sidebar-toggle">
                                                      <i class="ri-menu-3-line"></i>
                                                   </div>
                                                   <div class="avatar chat-user-profile m-0 mr-3">
                                                      <img src="/static/images/logo.jpg" alt="avatar" class="avatar-50 ">
                                                      
                                                   </div>
                                                   <h5 class="mb-0">Imaginarium</h5>
                                                </div>
                                                <div class="chat-user-detail-popup scroller">
                                     
                                                </div>
                                               
                                             </header>
                                          </div>
                                          <div class="chat-content" style="height: calc(100vh - 14rem);">
                                            {% if user %}
                                            <h1>Welcome {{ user.login }} !!!</h1>
                                            <a href="{% url 'game' %}">Играть!</a>
                                            <script>
                                                window.localStorage.setItem('login','{{ user.login }}');
                                                window.localStorage.setItem('image','{{ user.image.url }}')
                                                window.location = '/game';
                                            </script>
                                            {% else %}
                                            <form action="" method="POST" enctype="multipart/form-data">
                                             <div class="tab-pane fade active show" id="default-block" role="tabpanel">
                                                <div class="chat-start">
                                                    {% csrf_token %} 
                                                    {{ form.as_p }}
                                                   <button id="chat-start" class="btn bg-white mt-3">Login</button>
                                                </div>
                                             </div>
                                            </form>
                                            <script>
                                                var login = window.localStorage.getItem('login');
                                                if (login) {
                                                    window.location = '/game';
                                                } 
                                            </script>
                                            {% endif %}
                                          </div>
                                          
                                          <div id="help-box">
                                             Say your name and pic.
                                          </div>
                                          
                                       </div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
     

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/static/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/static/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/static/js/waypoints.min.js"></script>
      <script src="/static/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/static/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/static/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/static/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/static/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/static/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/static/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/static/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/static/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/static/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/static/js/custom.js"></script>
   </body>
</html>