{% load static %}
<!DOCTYPE html>
<html>
    <head><title>TypeScript Greeter</title>
        <script src="static/jquery.min.js"></script>
        <script src="static/socket.io.js"></script>
        <link rel="stylesheet" href="{% static 'my.css' %}" >
    </head>
    <body>
        <h1>Imaginarium branch ({{ git_branch }})</h1>

        {% block main %}
               
        {% endblock %}
        <style>
            body {
                padding: 10px;
            }
        </style>
    </body>
</html>





