<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Imaginarium</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <link rel="stylesheet" href="/static/css/custom.css">
   </head>
   <body class="sidebar-main-active right-column-fixed">

      <!-- Wrapper Start -->
      <div class="wrapper">

         <!-- Right Sidebar Panel Start-->
         <div class="right-sidebar-mini right-sidebar">
            <div class="right-sidebar-panel p-0">
               <div class="iq-card shadow-none">
                  <div class="iq-card-body p-0">
                     <div class="media-height p-3" id="players">
                       
       
                     </div>
                     <div class="right-sidebar-toggle bg-primary mt-3">
                        <i class="ri-arrow-left-line side-left-icon"></i>
                        <i class="ri-arrow-right-line side-right-icon"><span class="ml-3 d-inline-block">Close Menu</span></i> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Right Sidebar Panel End-->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-body chat-page p-0">
                           <div class="chat-data-block">
                              <div class="row">

                                 <div class="col-lg-12 chat-data p-0 chat-data-right">
                                    <div class="tab-content">


                                       <div class="tab-pane fade active show" id="chatbox5" role="tabpanel">
                                          <div class="chat-head">
                                             <header class="d-flex justify-content-between align-items-center bg-white pt-3 pl-3 pr-3 pb-3">
                                                <div class="d-flex align-items-center">
                                                   <div class="sidebar-toggle">
                                                      <i class="ri-menu-3-line"></i>
                                                   </div>
                                                   <div class="avatar chat-user-profile m-0 mr-3">
                                                      <img src="/static/images/user/09.jpg" alt="avatar" class="avatar-50 ">
                                                      <span class="avatar-status"><i class="ri-checkbox-blank-circle-fill text-success"></i></span>
                                                   </div>
                                                   <h5 class="mb-0">My association</h5>
                                                </div>
                                                <div class="chat-user-detail-popup scroller">
                                     
                                                </div>
                                                <div class="chat-header-icons d-flex" id="hand_small">
                                                   
                                                    
                                                     

                                                     <a class="dropdown-item" href="JavaScript:void(0);"><i class="fa fa-ban" ></i> </a>

                                                </div>
                                             </header>
                                          </div>
                                          <div class="chat-content scroller" style="height: calc(100vh - 14rem);">
                                             <div class="chat">
             
                                                <div class="chat-detail">
                                                   <div class="chat-message" id="board">
                                                      <p class="img-board">

                                                         <img src="/static/images/back.png" />
                                                         <img src="/static/images/cards/2.jpg" />
                                                         <img src="/static/images/cards/3.jpg" />
                                                         <img src="/static/images/cards/4.jpg" />
                                                         <img src="/static/images/cards/5.jpg" />
                                                         <img src="/static/images/cards/6.jpg" />
                                                      </p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="chat chat-left">
                                               
                                                <div class="chat-detail">
                                                   <div class="chat-message">
                                                      <p class="img-board">
                                                         
                                                         <img src="/static/images/cards/1.jpg" />
                                                         <img src="/static/images/cards/2.jpg" />
                                                         <img src="/static/images/cards/3.jpg" />
                                                         <img src="/static/images/cards/4.jpg" />
                                                         <img src="/static/images/cards/5.jpg" />
                                                         <img src="/static/images/cards/6.jpg" />
                                                      </p>
                                                   </div>
                                                </div>
                                             </div>
                                            
                                          </div>
                                          <div class="chat-footer p-3 bg-white">
                                             <form class="d-flex align-items-center"  action="javascript:void(0);">
                                                
                                                <input type="text" class="form-control mr-3" placeholder="Type your association">
                                                <button type="submit" class="btn btn-primary d-flex align-items-center p-2"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span class="d-none d-lg-block ml-1">Send</span></button>
                                             </form>
                                          </div>
                                          <div id="help-box">
                                             Help message about what to do now.
                                             <strong>branch ({{ git_branch }})</strong>
                                          </div>
                                          
                                       </div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
     

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/static/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/static/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/static/js/waypoints.min.js"></script>
      <script src="/static/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/static/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/static/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/static/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/static/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/static/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/static/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/static/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/static/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/static/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/static/js/custom.js"></script>
      <script src="/static/socket.io.js"></script>
      {% block main %} {% endblock %}
   </body>
</html>